@import "style.scss";
@import "variables.scss";

.section-title {
  font-weight: 700;
}

.navbar {
  background-color: transparent;
  &.scrolled {
    background-color: #ffffff !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    color: #000000;
    .navbar-item {
      color: #000000;
    }
    .navbar-item:hover {
      color: #000000;
    }
  }
  .navbar-item {
    color: #ffffff;
  }
  .navbar-item:hover {
    color: #ffffff;
  }
}


.slider-section {
  .is-carousel{
    @include flex;
    z-index: 0;
  }
 
  .slider-content {
    .slider-title {
      color: #ffffff;
      font-size: 1.5rem;
      @media screen and (min-width: 768px) {
        font-size: 2rem;
      }
      @media screen and (min-width: 1024px) {
        font-size: 3rem;
      }
      .title-bold {
        font-weight: 700;
      }
    }
    .slider-dropdown {
      @include flex-column;
      margin-top: 2rem;
      @media screen and (min-width: 768px) {
        margin-top: 4rem;
        @include flex;
        .select-left {
          border-radius: 4px 0 0 4px;
        }
        .select-right {
          border-radius: 0 4px 4px 0;
        }
      }
      .select-wrap {
        width: 270px;
        @media screen and (min-width: 768px) {
          width: 280px;
          height: 40px;
        }
      }
      .select.is-default select {
        border-color: #c0c2c1;
      }
      .select.is-default:not(:hover)::after {
        border-color: #c0c2c1;
      }
      .button-wrap {
        margin-bottom: 0;
      }
      .btn-find {
        width: 270px;
        height: 40px;
        @media screen and (min-width: 768px) {
          margin-left: 1rem;
          width: 124px;
        }
      }
      .icon {
        @media screen and (min-width: 650px) {
          padding-top: calc(0.375em - 1px);
        }
      }
    }
  }
}

.carousel-container {
  .carousel-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
  }
  .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 1s ease-in-out;
    @include background-property;
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
}

.featured-section {
  .featured-wrap {
    flex-wrap: wrap;
    .feature-column {
      &.is-landsacpe-tablet {
        @media screen and (min-width: 920px) and (max-width: 1280px) {
          width: 50%;
        }
      }
    }

    .feature-thumbnail {
      cursor: pointer;
      position: relative;
      .price-box-wrapper {
        position: absolute;
        width: 40%;
        top: 0;
        right: 0;
        color: #ffffff;
        padding: 5px;
        font-weight: 600;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), #383838);
        span {
          display: block;
          text-align: right;
          &.price-label {
            font-size: 0.8rem;
          }
          &.price {
            font-size: 1rem;
          }
          &.cut-price {
            text-decoration: line-through;
            color: $color-orange;
            font-size: 0.9rem;
          }
        }
      }
      .offer-wrapper {
        // position: absolute;
        // top: 20%;
        // border-bottom: 100px solid $color-orange;
        // border-left: 25px solid transparent;
        // border-right: 25px solid transparent;
        // height: 0;
        // width: 100px;
      }
      .images {
        height: 200px;
        @include background-property;
      }
    }
    .thumbnail-content {
      cursor: pointer;
      box-shadow: 0px 6px 10px -4px rgba(166, 164, 166, 1);
      padding: 0.5rem;
      background-color: #ffffff;
      display: flex;
      .name-and-org {
        width: 70%;
        .content-title {
          display: block;
          font-weight: 700;
          font-size: 1rem;
          margin-bottom: 0.1rem;
        }

        .sub-title {
          display: block;
          font-weight: 600;
          color: #209cee;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 0.8rem;
        }
      }
      .user-count {
        width: 30%;
        text-align: right;
        span {
          color: #525252;
          margin-right: -3px;
        }
        i.fa-user {
          font-weight: inherit;
        }
      }
    }
  }
}

.how-works-section {
  background-color: #f3f3f3;
  .how-works-wrap {
    margin-top: 0.5rem;
    align-items: center;
    .next-icon {
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
        flex: 0 1%;
        color: #bfbfbf;
        font-size: 1.5rem;
      }
    }
    .icon-wrap {
      text-align: center;
      background: #ffffff;
      border-radius: 0 50% 50% 50%;
      width: 100px;
      margin: 0 auto;
      border-radius: 0px 50px 50px 50px;
      height: 100px;
      padding: 25px 0;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
      .fa-icon {
        font-size: 3rem;
        color: #209cee;
      }
    }
    .content {
      padding: 0.5rem;
      .content-title {
        display: block;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 1rem 0;
        text-align: center;
      }
      .sub-title {
        display: block;
        margin-top: -0.7rem;
        text-align: center;
      }
    }
  }
}

.why-ms-section {
  background-color: #f3f3f3;
  .why-ms-wrap {
    margin-top: 0.5rem;
    .next-icon {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
        flex: 0 1%;
        color: #bfbfbf;
        font-size: 2rem;
      }
    }
    .icon-wrap {
      text-align: center;
      background: #ffffff;
      border-radius: 0 50% 50% 50%;
      width: 100px;
      margin: 0 auto;
      border-radius: 0px 50px 50px 50px;
      height: 100px;
      padding: 25px 0;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
      .fa-icon {
        font-size: 3rem;
        color: #209cee;
      }
    }
    .content {
      padding: 0.5rem;
      .content-title {
        display: block;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 1rem 0;
        text-align: center;
      }
      .sub-title {
        display: block;
        margin-top: -0.7rem;
        text-align: center;
      }
    }
  }
}

.confirmation-section {
  .confirmation-wrap {
    background-image: url(https://res.cloudinary.com/dgcojyezg/image/upload/w_400,g_south_west,y_400,l_msk_mskalx/q_50,fl_progressive/millionspaces/xfy9mmxc06kwgpcps3vu);
    @include background-property;
    height: 500px;
    .overlay {
      height: 100%;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .confirmation-container {
        color: #ffffff;
        .confirm-content {
          background: linear-gradient(rgba(123, 123, 123, 0.3), #505050);
          padding: 12px;
          @media screen and (min-width: 992px) {
            padding: 24px;
            width: 60%;
          }
        }
        .confirm-title {
          color: #ffffff;
        }
      }
    }
  }
}

.clients-section {
  .clients-content {
    margin: 0.5rem 0 2rem 0;
    @include flex-column;
    @media screen and (min-width: 992px) {
      .sub-title {
        width: 70%;
        text-align: center;
      }
    }
    .exclamation-wrap {
      text-align: center;
      .fa-icon {
        font-size: 3rem;
        color: #e0e0e0;
        margin-bottom: 1rem;
      }
    }
    .client-images {
      text-align: center;
      margin-top: 2rem;
      @include flex;
      .client-columns{
       @include flex;     
        .client-column {
          padding-bottom: 1rem;
          @media screen and (min-width: 768px) {
          padding-right: 2rem;
        }
      }
    }
    }
  }
  .clients-slider {
    @media screen and (min-width: 768px) {
      width: 70%;
    }
    text-align: center;
    margin: 0 auto;
    .clients-web {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
  }
}

.news-section {
  background-color: #f3f3f3;
  .news-container{
     @media screen and (min-width: 768px) {
      width: 70%;
    }
  .news-navigation{
   display: none;
   @media screen and (min-width: 992px) {
     display: block;
   }
   .news-nav-left, .news-nav-right{
     background: none;
     .fa{
      color: #888787;
     }
   }
  }
  .info-image{
    text-align: center;
      @media screen and (min-width: 992px) {
            width: 30%;
            height: 100%;
            display: inline-block;
            text-align: center;
            -webkit-box-shadow: 10px 0px 5px -6px rgba(186,186,186,1);
          -moz-box-shadow: 10px 0px 5px -6px rgba(186,186,186,1);
          box-shadow: 10px 0px 5px -6px rgba(186,186,186,1);
      }
  }
  .info-container{
    @media screen and (min-width: 992px) {
      width: 70%;
      bottom: 0;
      display: inline-block;
      padding: 0 77px;
      position: absolute;
    }
    .info-left{
      margin-bottom: 2rem;
    }
    .info-right{
      float: right;
    }
  }
}
}

.footer-section{
  background-color: #39414C;
  background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/q_30,fl_progressive/v1534421668/ms-mobile-web/map.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  position: relative;
  padding:1.5rem 0;  
  .footer-content{
    margin-bottom: 3rem;
    padding: 0 1.5rem; 
    .footer-columns{
      @include flex;
      .footer-column{
        margin-bottom: 1rem;
        @media screen and (min-width: 400px) {
          flex: 1 1 auto;
        }
        &.column-subscriber{
          padding-right: 5rem;
        }
      }
      .logo-content{
        margin-top: 1rem;
      }
      .footer-title{
        text-transform: uppercase;
        color: #969696;
      }
      .content-list{
        margin-top: 1.2rem;
        &.news-letter-list input{
          border-radius: 17px;
        }
        &.news-letter-list .btn-submit{
          border-radius: 17px;
          width: 100%;
        }
        &.connect-list .list-title{
          margin-bottom: 0.5rem;
        }
        .list-title{
          display: block;
          color: #cccccc;
          margin-bottom: 0.5rem;
          a{
            color: #cccccc;
          }
        }
      }
      .fa-icon-stack{
        display: inline-block;
        line-height: 2em;
        position: relative;
        vertical-align: middle;
        width: 2rem;
        background-color: #cccccc;
        text-align: center;
        border-radius: 50%;
        margin-right: 0.3rem;
      }
    }
  
  }
  .footer-overlay{
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 0.5rem 0;
    .copyright-text{
      color: #969696;
    }
    .copyright-subtext{
      color: #29abe2;
    }
  }
}

.responsive-container{  
  @media screen and (min-width: 768px) and (max-width: 1024px){
    width: 70%;
  }
}