@import "style.scss";
@import "variables.scss";
@import "../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass";

html,body {
  background-color: #e9e9e9;
  height: 100%;
}

.login-section {
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  .login-img {
      background:#fff url(../images/bg.jpg);
      @include background-property;
      height: 100%;
  }
  .login-body {
    min-height: 100vh;
    @media screen and (min-width: 992px) {
      padding: 0;
      @include flex;
    }
    .left-wrap {
      display: none;
      flex: 1 1 100%;
      @media screen and (min-width: 768px) {
        display: block;
        flex: 1 1 48%;
      }
    }

    .right-wrap {
      flex: 1 1 100%;
      @media screen and (min-width: 768px) {
        flex: 1 1 48%;
      }
    }
    .card-container {      
      @include flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      @media screen and (min-width: 992px) {
        height: 100%;
      }
      .login-card { 
        width: 500px;
        .card-content {
          padding: 1.3rem;
          .card-title{
            font-weight: 700;
          }
          .card-subtitle{
            color: #000000;
          }
          .subtext {
            font-size: 0.8rem;
          }
          .login-input {
            border: none;
            box-shadow: none;
            border-bottom: 1px solid #cecccc;
            border-radius: 0;
            margin-bottom: 1.2rem;
          }
          .btn-social {
            width: 100%;
            text-transform: uppercase;
            font-size: 0.8rem;
            height: 2.5rem;
            &.btn-facebook {
              color: #fcf5f4;
              background-color: #3c5a9a;
              border: 1px solid #788cb8;
            }
            &.btn-login {
              color: #fcf5f4;
              background-color: #53bdeb;
              border: 1px solid #53bdeb;
              margin: 1rem 0;
            }
            &.btn-twitter {
              color: #fcf5f4;
              background-color: #29aae3;
              border: 1px solid #34aee4;
            }
          }
          .horizontal-line {
            position: relative;
             hr{
               margin-top: 2rem;
             }
            .text-hr {
              font-size: 0.8rem;
              position: absolute;
              top: 0;
              background-color: #ffffff;
              right: 50%;
              line-height: 0.3rem;
              padding: 0 0.5rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
