@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-carousel/dist/css/bulma-carousel.sass";

html, body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif
}

.button-primary {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
  background-color: #2f95da;
  border-color: transparent;
  color: #fff;
}
