$primary-blue : rgb(37, 93, 165);
$primary-grey : rgb(168, 169, 170); 
$color-orange : #ffdd57; 

@mixin flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin background-property{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;  
}
